.git
.github

.env
.env.*
!.env.example
.base.env

node_modules
dist

.idea
.vscode
*.log
.DS_Store

deployment
docker-compose.yml
Dockerfile
Dockerfile.arm64
README.md

certificates
public
resources
mydatabase_backup.sql
nohup.out
